.content {
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .content {
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .content {
    box-sizing: border-box;
  }
}
@media screen and (max-width: 544px) {
  .content {
    box-sizing: border-box;
  }
}
@media screen and (max-width: 320px) {
  .content {
    box-sizing: border-box;
  }
}
