.page {
  font-family: "Inter-Black", "Inter-Regular", sans-serif;
  color: #ffffff;
  background-color: #2a2c2f;
  margin: 0 auto; /* Centrar el contenido */
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .page {
    font-family: "Inter-Black", "Inter-Regular", sans-serif;
    color: #ffffff;
    background-color: #2a2c2f;
    max-width: 100%;
    box-sizing: border-box;

    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .page {
    font-family: "Inter-Black", "Inter-Regular", sans-serif;
    color: #ffffff;
    background-color: #2a2c2f;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 544px) {
  .page {
    font-family: "Inter-Black", "Inter-Regular", sans-serif;
    color: #ffffff;
    background-color: #2a2c2f;
    max-width: 100%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 320px) {
  .page {
    font-family: "Inter-Black", "Inter-Regular", sans-serif;
    color: #ffffff;
    background-color: #2a2c2f;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
